<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>MyQRcards</string>
	<key>CFBundleDisplayName</key>
	<string>MyQRcards</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.13</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Main</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>gamekit</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to location when in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to location when open.</string>
	<key>NSCameraUsageDescription</key>
	<string>A custom message (will be shown to the user when iOS ask him for permission to access camera).</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>A custom message (will be shown to the user when iOS ask him for permission to access photo library).</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to location when open and in the background.</string>
	<key>CFBundleIdentifier</key>
	<string>com.myqrcards.iphone</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>vk6789848</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb398626670741726</string>
				<string>vk6789848</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLTypes</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myqrcards</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.myqrcards.iphone</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myqrcards</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.myqrcareds.iphonee</string>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>398626670741726</string>
	<key>FacebookDisplayName</key>
	<string>MyQRCards</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>vk</string>
		<string>vk-share</string>
		<string>vkauthorize</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>vk.com</key>
		<dict>
			<key>NSExceptionRequiresForwardSecrecy</key>
			<false/>
			<key>NSIncludesSubdomains</key>
			<true/>
			<key>NSExceptionAllowsInsecureHTTPLoads</key>
			<true/>
		</dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSExceptionDomains</key>
	<dict>
		<key>facebook.com</key>
		<dict>
			<key>NSIncludesSubdomains</key>
			<true/>
			<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
			<false/>
		</dict>
		<key>fbcdn.net</key>
		<dict>
			<key>NSIncludesSubdomains</key>
			<true/>
			<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
			<false/>
		</dict>
		<key>akamaihd.net</key>
		<dict>
			<key>NSIncludesSubdomains</key>
			<true/>
			<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
			<false/>
		</dict>
		<key>vk.com</key>
		<dict>
			<key>NSExceptionRequiresForwardSecrecy</key>
			<false/>
			<key>NSIncludesSubdomains</key>
			<true/>
			<key>NSExceptionAllowsInsecureHTTPLoads</key>
			<true/>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>FiraSans-Regular.ttf</string>
	</array>
	<key>CFBundleVersion</key>
	<string>191</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
